* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
  font: 18px "Monaco", Inconsolata, monospace;
  background: #2962FF;
  color: #f8f8f8;
}

body {
  font: 18px "Monaco", Inconsolata, monospace;
  background: #29B6F6;
  color: #f8f8f8;
}

.terminal {
  background: transparent;
  position: absolute;
  left: 50%;
  top: 30%;
  margin-top: -50px;
  margin-left: -300px;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);
  width: 700px;
  font: inherit;
  border: none;
  outline: none;
  color: inherit;
}

.dollar:before {
  content: '$';
  color: #CDDC39;
}

.home {
  color: #e28d47;
  padding-bottom: 3px;
}

a {
  font: 18px "Monaco", Inconsolata, monospace;
  text-decoration: underline;
  color: #f8f8f8;
}